<%= form_with(model: book, local: true) do |f| %>
  <%= render 'devise/shared/error_messages', model: f.object %>

  <form class="form1">
    <%= f.file_field :image, class: 'hidden' %>
    <div id="image-list"></div>
    <%= f.text_field :title,class:"un", placeholder: "Title" %>
    <%= f.text_area :story,class:"un", placeholder: "Story", rows: "5" %>
    <%= f.text_area :impression,class:"un", placeholder: "text", rows: "5" %>
    <%= f.submit "SEND",class:"submit" %>       
<% end %>
