

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div> 
        <%= image_tag "susan-yin-2JIvboGLeho-unsplash.jpg", class: "carousel-item active" %>
          
          <div class="carousel-caption">
            <h3>新たな絵本との出会い</h3>
            <p>~子供たちの笑顔のために~</p>
          </div>
        </div>
        
      </div>
      
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">投稿一覧</h1>


    <!-- Portfolio Section -->
    <h2>Portfolio Heading</h2>
    
      <%= form_with(url: search_books_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
      <% end %>


    <div class="row">
    <% @books.each do |book| %>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
        
          
          <div class="card-body">
            <%= image_tag book.image, class: "item-img" if book.image.attached? %>
            <h4 class="card-title">
              <%= link_to book.title, book_path(book.id), method: :get %>
            </h4>
            <p class="caption">story<p>
            <div class="card-story">
              <p><%= book.story %></p>
            </div>
            <p class="caption">impression<p>
            <div class="card-impression">
              <p><%= book.impression %></p>
            </div>
            <% if user_signed_in? && current_user.id == book.user_id %>
            <div class="cp_navi">
            <ul class="menu-bars">
              <li class="menu-bar"><%= link_to '編集', edit_book_path(book.id), method: :get %></li>
              <li class="menu-bar"><%= link_to '削除', book_path(book.id), method: :delete %></li>
             
            </ul>
            </div>
            <% end %>
          </div>
            <a href="/users/<%= book.user.id %>">
             <span>投稿者</span><%= book.user.nickname %>
            </a>
            <%= render 'likes/like', book: book %>
        </div>
      </div>
      
    <% end %>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Modern Business Features</h2>
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
          <li>
            <strong>Bootstrap v4</strong>
          </li>
          <li>jQuery</li>
          <li>Font Awesome</li>
          <li>Working contact form with validation</li>
          <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
