<div class="bodys"></div>
    <div class="grad"></div>
    <div class="headers">
      <div>Site<span>Random</span></div>
    </div>
    <br>
    <div class="login">
    <%= form_with(model: @book, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "Title" %>
      <%= form.text_area :story, placeholder: "Story", rows: "5" %>
      <%= form.text_area :impression, placeholder: "text", rows: "5" %>
      <%= form.submit "SEND" %>
    <% end %>
    </div>