<div class="main">
  <p class="sign" align="center">ログイン</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form class="form1">
      <%= f.email_field :email, class:"un", autofocus: true, autocomplete: "email",placeholder:"Email" %>
      <%= f.password_field :password, class:"pass", autocomplete: "current-password",placeholder:"Password"  %>
      <%= f.submit "Log in", class:"submit" %>
  <% end %>
  <div class="app-login"><%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post,class:"app-submit"%></div>
  <div class="app-login"><%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post,class:"app-submit"%></div>
</div>