<h1>Rakuserach</h1>
<div class='content'>
  <div id="search-box">
    <%= form_tag :goods_search, method: :get do %>
        <%= label_tag :keyword, 'キーワード検索' %>
      <%= text_field_tag 'keyword', params[:keyword] %>
      <%= submit_tag "検索" %>
      <% end %>
  </div>
  <h2>検索結果</h2>
  <%= flash[:danger] %>
  <div id='good_list'>
     <%= render partial: 'good_list' %>
  </div>
</div>