<h1>楽天検索</h1>
<div class='content'>
  <div id="search-box">
    <%= form_tag :goods_search, method: :get do %>
      <%= text_field_tag 'keyword', params[:keyword],placeholder: "キーワード検索",class: "search-input" %>
      <%= submit_tag "検索",class: "search-btn" %>
      <% end %>
  </div>
  <h2 class="sample">検索結果</h2>
  <%= flash[:danger] %>
  <div id='good_list'>
     <%= render partial: 'good_list' %>
  </div>
</div>